PORT=3001

# DATABASE
DB_USER="postgres"
DB_PASSWORD=""
DB_HOSTPORT="localhost:5432"
DB_NAME="thornament"

# exemple of randomly generated key ! TO CHANGE IN PROD !
JWT_SECRET="41db145d26b3712da87c7e01a1052be19db741c88907c01b2526d42404eff33a"

# CORS url
URL_FRONTEND="http://localhost:3000/"
