 *{ 
    font-family: 'Times New Roman', Times, serif;
 }
 
.navbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    background-color: #2C2C2C;
    height: 60px;
    font-family: Arial, sans-serif;
    color: #FFFFFF;
}


