* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.connexion-container {
    display: flex;
    flex-direction: column;
    height: 100vh;
    align-items: center;
    justify-content: center;
    padding: 5vh;
    background-color: #F8F8FF;
}

#formConnexion{
    display: flex;
    width: 60%;
    padding: 2vh;
    flex-direction: column;
    gap:15px;
    border: 2px solid black;
    border-radius: 20px;
    justify-content: center;
    text-align: center;
    box-shadow:  0 0 10px #000000;
    background-color: #F0F1FE;
}

#submitConnexion{
    width: 10%;
    align-self: center;
    background-color: #9B9EF0;
    border: none;
    border-radius: 20px;
}

#submitConnexion:hover{
    background-color: lightgray;
    cursor: pointer;
}